body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 30px;
    margin: 50px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h1 {
    text-align: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.navigation a {
    text-decoration: none;
    padding: 15px 25px;
    background-color: #123861;
    color: white;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: #aac5e2;
    transform: scale(1.05);
}

